<header>
    <div class="jumbotron head">
        <h1>Blog Administration</h1>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">首页</a></li>
            <li role="presentation" ><a href="#">写博文</a></li>
            <li role="presentation"><a href="#">关于我</a></li>
            <li role="presentation"><a href="#">博文目录</a></li>
            <li role="presentation"><a href="#">留言</a></li>
            <div class="row">
                    <div class="col-xs-3">
                        <%if(username){%>
                            <span>欢迎你：<b><%= username%></b></span>
                            <a href="/layout" class="btn btn-default">退出</a>
                        <%}else{%>
                            <a href="/login" class="btn btn-default">登录</a>
                            <a href="register" class="btn btn-default">注册</a>
                        <%}%>
                        
                    </div>
            </div>
        </ul>
    </div>
</header>